@font-face {
    font-family: "TT Lakes";
    font-style: normal;
    font-weight: normal;
    src: local("TT Lakes"),
    url("font/TTLakes-Bold.ttf") format("ttf");
url("font/TTLakes-Medium.ttf") format("ttf");
url("font/TTLakes-Regular.ttf") format("ttf");
}

html {
    font-family: "TT Lakes", sans-serif;
}

body {
    display: flex;
    background: #f2f2f2;
    margin: auto;
}

.wrapper {
    width: 100%;
    max-width: 1121px;
    flex-wrap: wrap;
    background: #F8F8F8;
    margin: 0 auto;
}

.navbar {
    display: none;
}

.menu__title {
    display: flex;

}

.menu {
    margin-top: 22px;
}

.title::before {
    content: "";
    height: 32px;
    border: 2px solid #41F6D7;
    border-radius: 4px;
    margin-right: 25px;
}

.title {
    font-size: 28px;
    line-height: 40px;
    letter-spacing: -0.6px;
    flex-grow: 1;
}

.menu__text {
    margin-right: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.button--text {
    border: none;
    background: none;
    align-items: center;
    margin-left: 5px;

}

.img {
    border-radius: 50%;
    background-color: #FF3E79;
    padding: 8px;
    cursor: pointer;
}

.nav {
    display: flex;
}

.nav__slidemenu {
    display: flex;
    flex-wrap: wrap;
    list-style:none;
    margin: 0 0 15px 0;
}

.nav__link:hover {
    background: #FFFFFF;
    border: 2px solid #B8FFEC;
    border-radius: 6px;
    padding: 7px;
}

.nav__link:focus {
    background: #FFFFFF;
    border: 2px solid #B8FFEC;
    border-radius: 6px;
    padding: 7px;
}

.nav__link {
    background: none;
    border: none;
    font-size: 16px;
    white-space: nowrap;
    color: #7E7E82;
    cursor: pointer;
}

.nav__item {
    margin: 15px 30px 15px 0;
}

.section {
    display: flex;
}

.section__block-mobile,
.section__block-laptop {
    display: none;
}

.section__block-desktop {
    display: block;
}

.section__text {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: gray;
    margin-right: 30px;
    margin-left: 25px;
}

.content__footer {
    display: flex;
    margin: 16px 0 16px 16px;
}

.footer__text {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #1B1C21;
    display: flex;
}

.footer__icon {
    background-image: url(image/icon.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 24px;
    height: 24px;
    display: block;
    margin-right: 8px;
}


.section__img {
    height: 307px;
    border-radius: 6px;
    margin-bottom: 35px;
}


@media screen and (min-width: 768px) and (max-width: 1120px) {

    .wrapper {
        max-height: 504px;
        max-width: 784px;
        margin: 0 auto;
    }

    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: #FFFFFF;
        padding: 16px 0;
    }

    .navbar__burger {
        margin-bottom: 10px;
        margin-left: 16px;
    }

    .navbar__group {
        margin-left: 16px;
    }

    .img--checkstatus {
        margin-right: 16px;
        margin-left: 16px;
    }

    .navbar__menu--center {
        margin-left: auto;
        margin-right: 16px;
    }


    .img--chat {
        margin-left: 16px;
        margin-right: 16px;
    }


    .navbar__divider {
        margin-left: 16px;
        margin-bottom: 10px;
    }

    .navbar__divider2 {
        padding-left: 16px;
    }

    .menu__text {
        display: none;
    }


    .title::before {
        content: "";
        height: 32px;
        border: 2px solid #41F6D7;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
        margin-right: 25px;
    }


    .menu {
        margin-top: 20px;
    }

    .nav__slidemenu {
        flex-wrap: nowrap;
        overflow-x: scroll;
    }

    .section__block-mobile,
    .section__block-desktop {
        display: none;
    }

    .section__block-laptop {
        display: inline;
        max-width: 312px;
        max-height: 160px;
    }

    .spn__text {
        display: none;
    }

    .section__text {
        display: flex;
    }

    .section__img {
        max-width: 360px;
        max-height: 208px;
        margin-bottom: 45px;
    }
}


@media screen and (min-width: 540px) and (max-width: 767px) {

    .wrapper {
        width: 100%;
        margin: 0 auto;
    }


    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: #FFFFFF;
        padding: 16px 0;
    }


    .navbar__divider {
        display: none;
    }

    .navbar__group {
        margin-left: 16px;
    }

    .navbar__burger {
        margin-bottom: 10px;
        margin-left: 16px;
    }


    .img--call,
    .img--chat,
    .img--profile {
        display: none;
    }


    .img--checkstatus {
        margin-right: 16px;
        margin-left: 16px;
    }


    .menu__text {
        display: none;
    }

    .menu {
        margin-top: 20px;
    }

    .title::before {
        content: "";
        height: 32px;
        border: 2px solid #41F6D7;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
        margin-right: 25px;
    }

    .nav__slidemenu {
        flex-wrap: nowrap;
        overflow-x: scroll;
    }

    .section__block-laptop,
    .section__block-desktop {
        display: none;
    }

    .section__block-mobile {
        display: block;

    }

    .section {
        display: block;
    }

    .section__img {
        width: 100%;
        height: 100%;
    }

}

@media screen and (min-width: 320px) and (max-width: 539px) {
    .body {
        margin: 0 auto;
        max-width: 1440px;
        position: relative;
    }

    .wrapper {
        margin: 0 auto;
    }


    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: #FFFFFF;
        padding: 16px 0;
    }


    .navbar__divider {
        display: none;
    }



    .navbar__group {
        margin-left: 16px;
    }

    .navbar__burger {
        margin-bottom: 10px;
        margin-left: 16px;
    }


    .img--call,
    .img--chat,
    .img--profile {
        display: none;
    }


    .img--checkstatus {
        margin-right: 16px;
        margin-left: 16px;
    }


    .menu__text {
        display: none;
    }


    .menu {
        margin-top: 15px;
    }

    .title::before {
        content: "";
        height: 32px;
        border: 2px solid #41F6D7;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
        margin-right: 25px;
    }

    .nav__slidemenu {
        flex-wrap: nowrap;
        overflow-x: scroll;
    }

    .section__block-laptop,
    .section__block-desktop {
        display: none;
    }

    .section__block-mobile {
        display: block;
    }

    .section__text {
        margin-right: 0;
    }

    span {
        display: none;
    }

    .section {
        display: block;
    }

    .section__img {
        width: 100%;
        height: 100%;
    }

}

@media screen and (max-width: 320px) {
    .body {
        margin: 0 auto;
        max-width: 1440px;
        position: relative;
    }

    .wrapper {
        margin: 0 auto;
    }


    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: #FFFFFF;
        padding: 16px 0;
    }


    .navbar__divider {
        display: none;
    }

    .navbar__group {
        margin-left: 16px;
    }

    .navbar__burger {
        margin-bottom: 10px;
        margin-left: 16px;
    }

    .img--call,
    .img--chat,
    .img--profile {
        display: none;
    }


    .img--checkstatus {
        margin-right: 16px;
        margin-left: 16px;
    }


    .menu__text {
        display: none;
    }

    .menu {
        margin-top: 15px;
    }

    .title::before {
        content: "";
        height: 32px;
        border: 2px solid #41F6D7;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
        margin-right: 25px;
    }

    .nav__slidemenu {
        flex-wrap: nowrap;
        overflow-x: scroll;
    }

    .section__block-laptop,
    .section__block-desktop {
        display: none;
    }

    .section__block-mobile {
        display: block;
    }

    .section__text {
        margin-right: 0;
    }

    span {
        display: none;
    }

    .section {
        display: block;
    }

    .section__img {
        width: 100%;
        height: 100%;
    }

}




