@font-face {
    font-family: "TT Lakes";
    font-style: normal;
    font-weight: normal;
    src: local("TT Lakes"),
    url("font/TTLakes-Bold.ttf") format("ttf");
    url("font/TTLakes-Medium.ttf") format("ttf");
    url("font/TTLakes-Regular.ttf") format("ttf");
}

html {
    font-family: "TT Lakes", sans-serif;
}

body {
    display: flex;
    background: #f2f2f2;
    margin: auto;
}

.sidebar {
    width: 320px;
    height: 100vh;
    background: #FFFFFF;
    /*box-shadow: -2px 0 4px rgba(69, 79, 126, 0.02), 16px 0 52px rgba(14, 24, 80, 0.2);*/
}

.sidebar__conteiner {
    padding: 20px 20px 20px 20px;
}

.sidebar__top {
    display: flex;
    justify-content: space-between;
    /*align-items: center;*/
}

.sidebar__menu-left {
    display: flex;
}

.btn {
    border-radius: 50%;
    border: none;
    background-color: #FF3E79;
    padding: 8px;
    margin: 5px;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.menu-link__logo {
    margin-left: 10px;
}


.menu__logo {
    display: flex;
}


.img--avtive:active {
    opacity: 1;
    transform: scale(0.9);
    transition: opacity, scale 0.1s, 0.1s;
}


.img--avtive:hover {
    opacity: 0.6;
    transform: scale(1.1);
    transition: opacity, scale 1s, 1s;
}

.menu__search:hover {
    transform: scale(1.2);
}

.contact__nav {
    margin: 5px;
}

.sidebar__nav {
    flex-wrap: wrap;
    list-style: none;
    position: relative;
}

.nav {
    padding: 0;
    margin: 0;
}

.nav__link--active::before {
    content: "";
    height: 32px;
    border: 4px solid #41F6D7;
    border-radius: 4px;
    position: absolute;
    top: -10px;
    left: -29px;
}

.nav__item {
    margin-top: 20px;
}

.nav__link {
    cursor: pointer;

}

.nav__link:hover {
    color: #7E7E82;

}

.nav__link:focus {
    color: #7E7E82;

}

.nav__link--active {
    color: #7E7E82;
}

.contact__bottom {
    margin-top: 350px;
}

.contact__mail {
    margin-top: 10px;
}

.contact__link-mail {
    color: #7E7E82;
    text-decoration: none;
}

.contact__phone {
    margin-top: 10px;
}


@keyframes call-animation {
    15% {
        transform: translateX(9px);
    }
    30% {
        transform: translateX(-9px);
    }
    40% {
        transform: translateX(6px);
    }
    50% {
        transform: translateX(-6px);
    }
    65% {
        transform: translateX(3px);
    }
    100% {
        transform: translateX(0);
    }
}

.contact__call:hover {
    animation: call-animation 0.5s ease;
    animation-iteration-count: 2;
}

.contact__link-phone {
    font-size: 24px;
    font-weight: bold;
    color: #1B1C21;
    text-decoration: none;
}

.contact__link:hover {
    color: #7E7E82;
}

.contact__language {
    margin-top: 60px;
}

.language__link {
    color: #1B1C21;
    font-size: 16px;
    text-decoration: none;
}

.language__link:first-child {
    color: #7E7E82;
}


@media screen and (max-height: 731px) {

    .contact__nav {
        margin-top: 40px;
    }

    .nav__item {
        margin-top: 20px;
    }

    .contact__bottom {
        margin-top: 100px;
    }

    .contact__language {
        margin-top: 30px;
        margin-left: 20px;
    }
}

@media screen and (max-height: 568px) {

    .contact__nav {
        margin-top: 10px;
    }

    .nav__item {
        margin-top: 10px;
    }

    .contact__bottom {
        margin-top: 10px;
    }

    .contact__language {
        margin-top: 30px;
        margin-left: 20px;
    }

}