@font-face {
    font-family: "TT Lakes";
    font-style: normal;
    font-weight: normal;
    src: local("TT Lakes"),
    url("font/TTLakes-Bold.ttf") format("ttf");
    url("font/TTLakes-Medium.ttf") format("ttf");
    url("font/TTLakes-Regular.ttf") format("ttf");
}

body {
    display: flex;
    flex-wrap: wrap;
}


.container {
    /*width: 100%;*/
    /*max-width: 784px;*/
    height: 504px;
    margin: 0 auto;
    padding: 0 15px;
    background: #FFFFFF;

}




@media screen and (max-width: 320px) {
    .img_call,
    .img_chat,
    .img_profile,
    .btn_price_services,
    .btn_special_price {
        display: none;
    }
    .btn_services {
        display: flex;
        overflow: hidden;
    }
    .container {
        min-width: 320px;

    }

    .ic_fu {
        /*display: inline-flex;*/
        margin-top: 20px;
    }
}

@media screen and (min-width: 1121px){
    .img_call,
    .img_chat,
    .img_profile {
        display: none;
    }

}



.menu {

    display: flex;
    justify-content: space-between;
    margin: auto;
    height: 88px;
    background: #FFFFFF;

}

.menu img {
    max-width: 100%;
}

.icon {
    margin-top: 24px;
}

.icon:first-child {
    padding-left: 24px;
}

.icon:last-child {
    padding-right: 24px;
}

.img_Group,
.img_divider,
.img_divider2 {
    margin: auto;
}

.content {

    height: 509px;
    left: 0px;
    top: 88px;
    background: #F8F8F8;

    margin: auto;
}



.top_block {
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding: 0;
}

.img_highlight {
    max-width: 4px;
    height: 40px;
    margin-right: 10px;
    margin-top: 24px;
    padding: 0;

}

.tit_serv {
    height: 40px;
    font-size: 28px;
    color: #1B1C21;
    line-height: 40px;
    margin-top: 24px;
    margin-right: auto;
    padding: 0;
}

.center_block {
    /*display: inline-flex;*/

}

button {

    background: #F8F8F8;
    /*text-align: left;*/
    /*padding-left: 16.54px;*/
    color: #7E7E82;
    font-size: 16px;
    border: none;
}

.wrapper {

    display: flex;
    /*width: 784px;*/
    overflow: hidden;
    /*text-overflow: fade;*/

}

.btn_devices {
    width: 246px;
    height: 40px;
    margin-left: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    border: 2px solid #B8FFEC;
    box-sizing: border-box;
    border-radius: 6px;
    background: #FFFFFF;
}

.btn_services {

    width: 258px;
    height: 40px;
    line-height: 36px;
    letter-spacing: -0.2px;

}

.btn_price_services {

    width: 130.29px;
    height: 40px;

    line-height: 24px;
    letter-spacing: -0.2px;
    color: #7E7E82;
}

.center_block_three {


}

.btn_special_price {

    width: 172px;
    height: 40px;

    /*line-height: 24px;*/
    letter-spacing: -0.2px;
    color: #7E7E82;

}

.text {
    width: 288px;
    height: 90px;
    margin-left: 16px;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.2px;
    color: #1B1C21;
}

.ic_fu {
    display: flex;
    justify-content: space-between;
    margin: 15px;
    padding: 0;
}

.img_icon {
    height: 10.29px;
    width: 7.41px;
    margin: 15px;
    padding: 0;

}

.further {
    margin-right: auto;ƒ
    /*margin-top: 16px;*/
    /*padding: 0;*/
    font-size: 16px;
    line-height: 8px;
    letter-spacing: -0.2px;
    color: #1B1C21;
}


.img_Picture_Copy {

   min-width: 320px;
    height: 259.66;

}

